@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

#coffee {
  font-family: "Miniver", cursive;
}

* {
  scroll-behavior: smooth;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #F59A19;
}

span.swiper-pagination-bullet {
  background-color: #F59A19;
}